* {
    box-sizing:border-box;
    margin:0;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive, "Roboto",sans-serif;
}

/* first page */

.first{
    width: 100%;
    height: 100%;
    background: #1F1F1F;
}

.first nav{
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: -878px;
    /* margin-left: 1000px; */
    margin-right: 90px;
    text-align: right;
    color: rgba(255, 255, 255, 0.75);
}

.first header{
    font-family: sans-serif;
    /* margin-left: 57px; */
    margin-top: 82px;
    font-weight: bold;
    font-size: 612px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
}

.first p{
    font-size: 42px;
    color: rgba(255, 255, 255, 0.75);
    font-family: sans-serif;
    /* margin-left: 632px; */
    text-align: center;
    font-weight: bold;
}

.pic1{
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

/* second page */

.second{
    width: 100%;
    height: 100%;
    background: #1F1F1F;
}

.second header p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #1F1F1F;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.spic{
    width: 90%;
    height: 90%;
    align-items: center;
    margin-left: 3%;
    /* margin-top: 70px; */
    filter: blur(3px);
}

nav ul{
    display: flex;
}

li{
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.leftarrow{
    margin-top: 200px;
}

.rightarrow{
    margin-top: 200px;
}

/* third page */


.third{
    width: 100%;
    height: 100%;
    background: #1F1F1F;
}

.third p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 50px;
}

.thirdpic{
    width: 80%;
    height: 40%;
    filter: blur(3px);
    align-items: center;
    margin-left: 140px;
}
/* last page */

.lpic{
    position: absolute;
    width: 100%;
    height: 100%;
}

